@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .section-title-home {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .title-first-home {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--layout-background-color);
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .overlay {
    height: 600px;
  }
  .peculiarities {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .peculiarities-list {
    display: flex;
  }
  .about-peculiarities {
    width: 270px;
  }
  .about-peculiarities:nth-child(-n + 3) {
    margin-right: 16px;
  }
  .about-peculiarities::before {
    display: block;
    content: '';
    height: 120px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--second-background-color);
    margin-bottom: 8px;
  }
  .icon-vector::before {
    background-image: url(../img/antenna.svg);
  }

  .icon-clock::before {
    background-image: url(../img/clock.svg);
  }

  .icon-laptop::before {
    background-image: url(../img/diagram.svg);
  }

  .icon-astronaut::before {
    background-image: url(../img/astronaut.svg);
  }
  .tiem {
    padding-bottom: 120px;
  }
}
