/*-----------------------MAIN HOME________________*/

.tiem-list {
  display: flex;
}
.about-tiem:nth-child(-n + 3) {
  margin-right: 30px;
}
.about-tiem {
  background-color: var(--layout-background-color);
  border-radius: 0px 0px 4px 4px;
  max-width: 370px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.tiem {
  background-color: var(--second-background-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.master-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--rubric-color);
  margin-bottom: 10px;
}
.master-skil {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.84;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}
.tiem-master {
  padding-top: 30px;
  padding-bottom: 30px;
}
.masters-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.masters-soc-list {
  display: flex;
  justify-content: center;
}
.masters-soc-item:first-child {
  margin-left: 0;
}
.masters-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.masters-soc-icon {
  fill: currentColor;
}
.masters-soc-link:hover,
.masters-soc-link:focus {
  background-color: var(--brand-color);
  color: var(--layout-background-color);
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
}
.clients-item {
  margin-left: 30px;
}
.clients-item:first-child {
  margin-left: 0;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--brand-color);
  color: var(--brand-color);
}
/*---------------MAIN PORTFOLIO__________________*/
.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.btn-portfolio {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--rubric-color);
  cursor: pointer;
  background: var(--second-background-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--layout-background-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item:nth-child(-n + 4) {
  margin-right: 8px;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.gallery-item {
  width: calc(100% / 3 - 30px);
  margin: 15px;
}
.gallery-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-link:hover .gallery-text,
.gallery-link:focus .gallery-text {
  transform: translateY(0);
}
.gallery-wrap {
  position: relative;
  overflow: hidden;
}
.gallery-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--layout-background-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateY(101%);
  transition-property: transform;
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--border-portfolio);
  border-top: none;
}
.name-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--rubric-color);
  margin-bottom: 4px;
}
.description-portfolio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.portfolio-main {
  background-color: var(--portfolio-main);
}
/*--------------FOOTER JOINT___________________*/
.footer-joint {
  background-color: var(--first-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.textwhite {
  color: var(--layout-background-color);
}
.address-link {
  margin-top: 20px;
}
.info-link:nth-child(-n + 2) {
  margin-bottom: 9px;
}
.address-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--layout-background-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-footer:hover,
.address-footer:focus {
  color: var(--brand-color);
}
.mail-footer:hover,
.mail-footer:focus {
  color: var(--brand-color);
}
.tel-footer:hover,
.tel-footer:focus {
  color: var(--brand-color);
}
.akcent-title,
.subscription-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--layout-background-color);
  margin-bottom: 20px;
}
.akcent-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.akcent-soc-item:first-child {
  margin-left: 0;
}
.akcent-list {
  display: flex;
  align-items: center;
}
.akcent-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--layout-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.akcent-soc-link:hover,
.akcent-soc-link:focus {
  background-color: var(--brand-color);
}
.footer-joint .container {
  display: flex;
  align-items: baseline;
}
.akcent-section {
  margin-left: 70px;
}
.subscription-section {
  margin-left: 93px;
}
.subscription-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--layout-background-color);
}
.subscription-button {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--layout-background-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-button:hover,
.subscription-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--button-color);
}
.subscription-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscription-button svg {
  margin-left: 10px;
}
.subscription-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*_____________________________________________________*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: transform;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--layout-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.modal-close {
  display: flex;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--layout-background-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-button {
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:focus,
.modal-button:hover {
  fill: var(--brand-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--brand-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--brand-color);
}
.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}
.modal-label:nth-child(n + 2) {
  display: block;
  margin-top: 10px;
}
.modal-input {
  padding-left: 42px;
}
.input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  background-color: transparent;
  outline: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: var(--brand-color);
}
.checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.checkbox-label a {
  color: var(--brand-color);
}
.checkbox-label span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--rubric-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-icon {
  fill: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-label span {
  background-color: var(--brand-color);
  border: none;
}
.checkbox-input:checked + .checkbox-label .check-icon {
  fill: var(--layout-background-color);
}
.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.button-send {
  min-width: 200px;
  padding: 10px 55px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--layout-background-color);
  background-color: var(--brand-color);
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send:hover,
.button-send:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--button-color);
}
