:root {
  --brand-color: #4d5ae5;
  --rubric-color: #2e2f42;
  --layout-background-color: #ffffff;
  --text-color: #434455;
  --second-background-color: #f4f4fd;
  --border-second-color: #8e8f99;
  --focus-color: #404bbf;
  --border-color: #e7e9fc;
  --icon-color: #afb1b8;
  --label-color: #8e8f99;
  --modal-color: #fcfcfc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'roboto', sans-serif;
  background-color: var(--layout-background-color);
  color: var(--text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--rubric-color);
  margin-bottom: 72px;
}

/* --------HEADER-------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-color);
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-right: 93px;
}

.textblack {
  color: var(--rubric-color);
}

.studio-home,
.portfolio-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--focus-color);
  cursor: pointer;
  position: relative;
  padding: 26px 0;
}

.studio-home::after,
.studio-home::after,
.portfolio-portfolio::after,
.portfolio-portfolio::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--focus-color);
  border-radius: 2px;
  position: absolute;
  bottom: -2px;
}

.portfolio-home,
.studio-portfolio,
.contacts-home,
.contacts-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--rubric-color);
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-home:hover,
.portfolio-home:focus,
.studio-portfolio:hover,
.studio-portfolio:focus,
.contacts-home:hover,
.contacts-home:focus,
.contacts-portfolio:hover,
.contacts-portfolio:focus {
  color: var(--focus-color);
}

.mail-home,
.tel-home,
.mail-portfolio,
.tel-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-home:hover,
.mail-home:focus,
.tel-home:hover,
.tel-home:focus,
.mail-portfolio:hover,
.mail-portfolio:focus,
.tel-portfolio:hover,
.tel-portfolio:focus {
  color: var(--focus-color);
}

.mail-icon,
.tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-list {
  display: flex;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-link:nth-child(-n + 2) {
  margin-right: 50px;
}

.contacts-item:last-child {
  margin-left: 50px;
}
@media screen and (max-width: 767px) {
  .mobile-menu-open {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
  }
  .mobile-menu_container {
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .mobile-menu_close-button {
    position: absolute;
    top: 28px;
    right: 18px;
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mobile-menu_close-icon {
    padding-top: 1px;
    padding-right: 1px;
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--layout-background-color);
    visibility: visible;
    pointer-events: auto;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .mobile-menu-link:nth-child(-n + 3) {
    margin-bottom: 40px;
  }
  .studio-mobile,
  .portfolio-mobile {
    color: var(--rubric-color);
  }
  .contact-mobile {
    color: var(--focus-color);
  }
  .mobile-menu_container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-menu-list {
    margin-bottom: 80px;
  }
  .mobile-tel {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-color);
  }
  .mobile-tel-link {
    margin-bottom: 40px;
  }
  .mobile-mail {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
  .mobile-menu-contacts {
    margin-bottom: 48px;
  }
  .mobile-icon-list {
    display: flex;
  }
  .mobile-soc-icon {
    fill: var(--second-background-color);
  }
  .mobile-soc-item {
    width: 44px;
    height: 44px;
  }
  .mobile-soc-item:nth-child(-n + 3) {
    margin-right: 56px;
  }
  .mobile-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--brand-color);
  }
}

@media screen and (max-width: 767px) {
  .header-list,
  .contacts-mobile {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .contacts-list {
    justify-content: space-between;
  }
}
/*-------------HERO---------*/

.section-title-home {
  background: var(--layout-background-color);
  padding-top: 112px;
  padding-bottom: 112px;
}

.title-first-home {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--layout-background-color);
  max-width: 320px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}
@media screen and (max-width: 767px) {
  .title-first-home {
    font-size: 36px;
    line-height: 1.11;
  }
}

.overlay {
  max-width: 1600px;
  height: 432px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(46, 47, 66, 0.7);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/Img-hero.jpg);
}

.button-title-home {
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--layout-background-color);
  background-color: var(--brand-color);
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-title-home:hover,
.button-title-home:focus {
  background-color: var(--focus-color);
}

/*----------PECULIARITIES-----------*/

.peculiarities {
  padding-top: 96px;
  padding-bottom: 96px;
}

.about-peculiarities {
  text-align: justify;
}
@media screen and (max-width: 767px) {
  .peculiarities-title {
    text-align: center;
    font-weight: 700;
  }
  .about-peculiarities:nth-child(-n + 3) {
    margin-bottom: 72px;
  }
}
.peculiarities-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--rubric-color);
  margin-bottom: 8px;
}

.peculiarities-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

@media screen and (min-width: 1200px) {
  .services {
    padding-bottom: 120px;
  }

  .about-list {
    display: flex;
  }

  .about-item {
    position: relative;
  }

  .about-item:nth-child(-n + 2) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .services-non {
    display: none;
  }
}

/*--------------TIEM*-----------*/

.tiem {
  background-color: var(--second-background-color);
  padding-bottom: 96px;
  padding-top: 96px;
}

.tiem-list {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .tiem-list {
    flex-wrap: wrap;
  }
}
.about-tiem {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--layout-background-color);
  border-radius: 0px 0px 4px 4px;
  max-width: 370px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .about-tiem:nth-child(-n + 3) {
    margin-bottom: 72px;
  }
}

.tiem-master {
  padding-top: 30px;
  padding-bottom: 30px;
}

.master-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--rubric-color);
  margin-bottom: 8px;
}

.master-skil {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.84;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 8px;
}

.masters-soc-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;
  margin-left: 16px;
}

.masters-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.masters-soc-item:first-child {
  margin-left: 0;
}

.masters-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--brand-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-soc-icon {
  fill: var(--second-background-color);
}

/*--------------CLIENTS*---------*/

.clients {
  padding-top: 96px;
  padding-bottom: 96px;
}

.clients-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .clients-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
  }
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  color: var(--icon-color);
  border: 1px solid var(--border-second-color);
  border-radius: 4px;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--brand-color);
  color: var(--brand-color);
}

.clients-icon {
  fill: currentColor;
}

/*---------MAIN PORTFOLIO--------*/
@media screen and (max-width: 767px) {
  .main-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media screen and (max-width: 767px) {
  .button-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .btn-item {
    padding-right: 16px;
  }
}
@media screen and (max-width: 767px) {
  .btn-item:nth-child(-n + 3) {
    padding-bottom: 24px;
  }
}
.btn-portfolio {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  cursor: pointer;
  background: var(--second-background-color);
  border-radius: 4px;
  border: none;
  padding: 12px 24px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--layout-background-color);
  background-color: var(--focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-link:hover .gallery-link,
.gallery-link:focus .gallery-link,
.gallery-link:hover .gallery-text,
.gallery-link:focus .gallery-text,
.gallery-text:hover .gallery-link,
.gallery-text:focus .gallery-link,
.gallery-text:hover .gallery-text,
.gallery-text:focus .gallery-text {
  transform: translateY(0);
}

.gallery-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-background-color);
  background: var(--brand-color);
  padding: 40px 32px 164px 32px;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateY(101%);
  transition-property: transform;
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid var(--second-background-color);
  border-top: none;
}

.name-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--rubric-color);
  margin-bottom: 8px;
}

.description-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*-------------FOOTER---------*/
.logo-footer {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.footer-joint {
  background-color: var(--rubric-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-joint .container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-joint .container,
  .adress-section,
  .akcent-section,
  .subscription-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.textwhite {
  color: var(--second-background-color);
}
@media screen and (max-width: 767px) {
  .adress-section,
  .akcent-section {
    margin-bottom: 72px;
  }
}
.address-link {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .info-link {
    text-align: center;
  }
}
.info-link:nth-child(-n + 2) {
  margin-bottom: 9px;
}

.address-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--layout-background-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer:hover,
.address-footer:focus {
  color: var(--brand-color);
}

.mail-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-footer:hover,
.mail-footer:focus {
  color: var(--brand-color);
}

.tel-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-footer:hover,
.tel-footer:focus {
  color: var(--brand-color);
}
.akcent-title,
.subscription-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--layout-background-color);
  margin-bottom: 16px;
}

.akcent-list {
  display: flex;
  align-items: center;
}

.akcent-soc-item {
  width: 40px;
  height: 40px;
  margin-left: 16px;
}

.akcent-soc-item:first-child {
  margin-left: 0;
}

.akcent-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--second-background-color);
  background-color: var(--brand-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .subscription-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .subscription-input {
    width: 100%;
    margin-bottom: 16px;
  }
}

.subscription-input {
  height: 40px;
  padding-left: 16px;
  background-color: var(--rubric-color);
  border: 1px solid var(--layout-background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--layout-background-color);
}

.subscription-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgb(255, 255, 255);
}

.subscription-button {
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--layout-background-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 24px;
}

.subscription-button svg {
  margin-left: 16px;
}

/*-----------MODAL------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition-property: transform;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  height: 584px;
  background-color: var(--modal-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px;
  padding-top: 72px;
}

.modal-close {
  display: flex;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--border-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button {
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:focus,
.modal-button:hover {
  fill: var(--brand-color);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--rubric-color);
  margin-bottom: 12px;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--label-color);
  margin-bottom: 4px;
}

.modal-label:nth-child(n + 2) {
  display: block;
  margin-top: 8px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  outline: rgba(0, 0, 0, 0);
  padding-left: 42px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--brand-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--brand-color);
}

.modal-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-top: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  background-color: rgba(0, 0, 0, 0);
  outline: rgba(0, 0, 0, 0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--label-color);
}

.modal-textarea:focus {
  border-color: var(--brand-color);
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.checkbox-input:checked + .checkbox-label span {
  background-color: var(--brand-color);
  border: none;
}

.checkbox-input:checked + .checkbox-label .check-icon {
  fill: var(--layout-background-color);
}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--label-color);
  display: flex;
  align-items: center;
  align-items: baseline;
}

.checkbox-label a {
  color: var(--brand-color);
}

.checkbox-label span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--border-second-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  fill: rgba(0, 0, 0, 0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send {
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--layout-background-color);
  background-color: var(--brand-color);
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--focus-color);
} /*# sourceMappingURL=style.css.map */
