@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .title-first-home {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--layout-background-color);
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 36px;
  }
  .overlay {
    height: 436px;
  }

  .subscription-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .btn-item:nth-child(-n + 4) {
    margin-right: 24px;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tiem-list {
    flex-flow: row wrap;
    justify-content: center;
    gap: 64px 24px;
  }
  .peculiarities-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .about-peculiarities {
    width: calc((100% - 42px) / 2);
  }
  .about-tiem {
    margin: 0;
  }
  .clients-list {
    flex-flow: row wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  .main-section {
    padding-top: 65px;
    padding-bottom: 96px;
  }
  .button-list {
    margin-bottom: 64px;
  }
  .gallery-item {
    width: calc(44.444444% - 24px);
  }
  .gallery-list {
    display: flex;
    flex-flow: row wrap;
    gap: 72px 24px;
  }
  .footer-joint .container {
    width: 565px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .akcent-section {
    padding-left: 24px;
  }
  .adress-section {
    padding-bottom: 72px;
    width: 264px;
  }
  .subscription-input {
    margin-right: 24px;
    width: 264px;
  }
  .logo {
    margin-right: 120px;
  }
  .header-link:nth-child(-n + 2) {
    margin-right: 40px;
  }
  .contacts-item:last-child {
    margin: 0;
  }
  .mail-home,
  .tel-home,
  .mail-portfolio,
  .tel-portfolio {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
  .contacts-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-left: 67px;
  }
  .studio-home,
  .portfolio-portfolio {
    padding: 36px 0;
  }
}
