@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .title-first-home {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--layout-background-color);
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 36px;
  }
  .overlay {
    height: 436px;
  }
  .peculiarities-list {
    display: flex;
    flex-wrap: wrap;
  }
  .about-peculiarities {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1999px) {
  .about-peculiarities:nth-child(-n + 2) {
    margin-bottom: 72px;
  }
  .about-peculiarities:nth-child(2n + 1) {
    margin-right: 24px;
  }
}
