.icon-vector::before {
  background-image: url(../img/antenna.svg);
}
.icon-clock::before {
  background-image: url(../img/clock.svg);
}
.icon-laptop::before {
  background-image: url(../img/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../img/astronaut.svg);
}
