.logo_nav {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-right: 93px;
}
.textblack_nav {
  color: var(--rubric-color);
}
