.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities-list {
  display: flex;
}
.about-peculiarities:nth-child(-n + 3) {
  margin-right: 30px;
}
.about-peculiarities {
  width: 270px;
}
.about-peculiarities::before {
  display: block;
  content: '';
  height: 120px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--second-background-color);
  margin-bottom: 30px;
}
.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--rubric-color);
  margin-bottom: 10px;
}
.peculiarities-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
