.tiem {
  background-color: var(--second-background-color);
  padding-bottom: 94px;
  padding-top: 94px;
}
.tiem-list {
  display: flex;
}
.about-tiem:nth-child(-n + 3) {
  margin-right: 30px;
}
.about-tiem {
  background-color: var(--layout-background-color);
  border-radius: 0px 0px 4px 4px;
  max-width: 370px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
