:root {
  --brand-color: #2196f3;
  --rubric-color: #212121;
  --layout-background-color: #ffffff;
  --text-color: #757575;
  --first-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --border-color: #ececec;
  --button-color: #188ce8;
  --border-portfolio: #eeeeee;
  --portfolio-main: #e5e5e5;
  --icon-color: #afb1b8;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'roboto', sans-serif;
  background-color: var(--layout-background-color);
  color: var(--text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
